<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{titulo}}</title>
	<link rel="stylesheet" href="/public/css/blog.estilo.css" />
	<style>
		body{
			background-color: #333;
			color:#FFF !important;
		}
	</style>
</head>
<body>
	

	<div id="contenedor">
		<div id="cabecera">
			<h1>{{titulo}}</h1>
		</div>
		<div id="contenido">
			{{{body}}}
		</div>
		<div id="piePagina">
			<p>
				Bogotá 2016
			</p>
		</div>
	</div>

</body>
</html>