<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registrar Autor</title>
</head>
<body>
		
	<div>
		<h1>Registrar Autor</h1>
		<div>
			<form action="/autores/registrar" method="post">
				
				<div>
					<label for="txtNombre">Nombre:</label>
					<input type="text" id="txtNombre" name="nombre">
				</div>

				<div>
					<label for="txtEmpresa">Empresa:</label>
					<input type="text" id="txtEmpresa" name="empresa">
				</div>
	
				<input type="submit" value="Enviar" />

			</form>
		</div>
	</div>




</body>
</html>